<h3>What Technique Did You Learn Today?</h3>

<form action="/techniques" method="POST">
 <p>Technique: <input type="text" id= "content" name="content"></p>
 <input type="submit" value="submit">
</form>