<h1>Techniques</h1>
<br />
<br />
<ol>
  <% @techniques.each do |technique| %>
    <li><a href="techniques/<%=technique.id%>"><%=technique.content%></a></li>
  <%end%>
</ol>
<br/>
<br/>
<p><a href="techniques/new"> Create Technique </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/logout"> Logout </a></p>