<h3>Techniques</h3>
<ol>
  <% @techniques.each do |technique| %>
    <li><a href="techniques/<%=technique.id%>"><%=technique.content%></a></li>
  <%end%>
</ol>
<p><a href="/logout"> Logout </a></p>
<p><a href="techniques/new"> Create Technique </a></p>