<h1>Welcome to SMBJJ</h1>
<h2>Please Login</h2>

<form action="/login" method="POST">

  <p><label for="name">Name: </label><p>
  <p><input type="text" name="name" id="name"><p>
  <p><label for="password">Password: </label><p>
  <p><input type="password" name="password" id="password"><p>

<input type="submit" value="Login" id="submit">

</form>